*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* navegadora  */
.navegadora{
    background-color: black;
    font-size: 1.5rem;
}
.navegadora ul{
    margin-right: 2%;
    margin-bottom: 0px ;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:center;
    height: 5rem;
}
.navegadora ul li{
    border-radius: 0rem 1rem 0rem 1rem;
    text-align: center;
    background-color: black;
    border: 0.1rem solid white;
    margin: 1rem;
    width: 10rem;
}
.navegadora:hover{
    background-color: white;
    transition:1s;
}
.navegadora ul li:hover{
    background-color: white;
    border: 0.1rem solid black;
    transition: 0.2s;
    transform: scale(1.3,1.3);
}
.navegadora ul li:hover a{
    color: black;
    transition: 0.2s;
}
.navegadora ul a{
    color: white;
}
/* cierre de navegadora */

/* empieza el header */
.header{
    font-family: 'Tiro Gurmukhi', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
    background-image: url(../imagenes/fondo-de-pagina-cortes.jpg);
    background-size: cover;
    opacity: 70%;
}
.header h1{
    font-size: 5rem;
    color: white;
}
/* cierre de el header de la pagina */
.lineas{
    border: 0.1rem solid black;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
/* empieza section del taper fade */

.titulo_taper{
    text-align: center;
    font-family: 'Tiro Gurmukhi', serif;
}
.img_taper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.img_taper img{
    margin: 1rem;
    border-radius: 30px;
}
.img_taper img:hover{
    transform: scale(1.1,1.1);
    border-radius: 140px;
    border: 3px solid black;
    transition: 0.5s;
}
.iframe_taper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.iframe_taper iframe{
    margin: 1rem;
    border-radius: 30px;
}
.iframe_taper iframe:hover{
    transform: scale(1.1,1.1);
    border: 3px solid black;
    transition: 0.5s;
}
.expli_taper{
    border: 0.1rem solid gray;
    text-align: center;
    margin: 1rem;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    height: 270px;
    border-radius: 10px;
    background-color: white;
    overflow: auto;
}
/* termina section del taper fade */

/* footer de la pagina */
.final{
    background-color: black;
    text-align: center;
}
.final .logo_facebook{
    width: 3rem;
    height: 3rem;
    margin: 2rem;
}
.final .logo_facebook:hover{
    transform: scale(1.3,1.3);
    background-color: blue;
    border-radius: 1rem;
}
.final .logo_instagram{
    width: 3rem;
    height: 3rem;
    margin: 2rem;
}
.final .logo_instagram:hover{
    transform: scale(1.3,1.3);
    background-color: red;
    border-radius: 1rem;
}
.final .logo_whats{
    width: 3rem;
    height: 3rem;
    margin: 2rem;
}
.final .logo_whats:hover{
    transform: scale(1.3,1.3);
    background-color: green;
    border-radius: 1rem;
}
.final .logo_barber{
    width: 8rem;
    height: 8rem;
    border-radius: 4rem;
}
.ultima{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
/* cierra el footer de la pagina */